* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 10px;
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
  padding: 15px 20px;
  text-decoration: none;
}

a:hover,
a:active {
  border: 1px solid white;
  border-radius: 30px;
  scroll-behavior: smooth;
}

section#home,
section#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  padding: 0px 20px 5px 20px;
  gap: 20px;
}

.intro,
.description {
  flex: 1 1 200px;
  padding: 20px;
  max-width: 600px;
}

.image1,
.image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 200px;
  max-width: 700px;
  margin: 10px;

  img {
    width: 90%;
    object-fit: contain;
    border-radius: 30px;
  }
}

section#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-width: 5px;
    min-height: 5px;
    gap: 20px;
    padding: 20px;

    p {
      display: flex;
      justify-content: center;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;

  p {
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    visibility: hidden;
    display: none;
  }

  .image1 {
    visibility: hidden;
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  html {
    scroll-behavior: smooth;
  }
}
