* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 20px 30px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 10px;
  text-decoration: none;
}
.navbar li:last-child {
  border: 1px solid black;
  border-radius: 3px;
}

section#home,
section#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  padding: 5px 30px;
  gap: 20px;
}

.intro,
.description {
  flex: 1 1 200px;
  padding: 20px;
  max-width: 600px;
}

.image1,
.image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 200px;
  max-width: 700px;
  margin: 10px;
}
.image1 img,
.image2 img {
  width: 90%;
  object-fit: contain;
}

section#tekkers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#tekkers .icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-width: 5px;
  min-height: 5px;
  gap: 20px;
  padding: 20px;
}
section#tekkers .icons p {
  display: flex;
  justify-content: center;
}
section#tekkers .icons img {
  width: 40px;
  height: 40px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  margin: 0px 0px;
}
footer p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .navbar {
    visibility: hidden;
    display: none;
  }
  .image1 {
    visibility: hidden;
    display: none;
  }
}
