* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a:link,
a:visited {
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
}

a:hover,
a:active {
  color: #00e2c1;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  p {
    font-size: 20px;
  }
}

.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  &__navbar {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 0px 10px;
    text-decoration: none;
  }
}

.home,
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 20px 20px 20px;

  &__intro,
  &__description {
    flex: 1 1 200px;
    padding: 20px;
    max-width: 600px;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 200px;
    max-width: 600px;
  }

  img {
    max-width: 90%;
    object-fit: contain;
    border-radius: 30px;
  }
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
  gap: 10px;

  &__icon-grid {
    display: grid;
    font-weight: bold;
  }

  &__icon {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0px 0px;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px 20px 20px;

  &__grid {
    display: grid;
    gap: 10px;
    row-gap: 50px;
    padding: 10px 0px;

    & > div {
      text-align: center;
      padding: 20px 0;
      max-width: 600px;
    }
  }

  img {
    max-width: 400px;
    border-radius: 30px;
    aspect-ratio: 4 / 3;
    width: 70%;
  }

  .button {
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
  }

  .button:link,
  .button:visited {
    transition-property: color, border;
    transition-duration: 0.5s;
  }

  .button:hover,
  .button:active {
    color: #00e2c1;
    border: 2px solid #00e2c1;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: black;
  width: 100%;
  padding: 5px 30px;

  p {
    color: white;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0px 10px;
  }

  svg {
    height: 30px;
    width: 30px;
  }

  svg path {
    fill: black;
    transition: fill 0.3s;
  }

  svg:hover path {
    fill: #00e2c1;
  }
}

@media only screen and (max-width: 700px) {
  .header__navbar {
    visibility: hidden;
    display: none;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .home__image {
    visibility: hidden;
    display: none;
  }

  .about {
    flex-direction: column;
  }

  .skills__icon-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  .projects__grid {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 701px) {
  header {
    position: sticky;
    top: 0;
  }

  .skills__icon-grid {
    display: flex;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 40px;
  }

  .projects__grid {
    grid-template-columns: auto auto;
  }
}
