* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 0px 10px;
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
}

a:hover,
a:active {
  color: #00e2c1;
}

html {
  scroll-behavior: smooth;
}

section#home,
section#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 20px 20px 20px;
}

.intro,
.description {
  flex: 1 1 200px;
  padding: 20px;
  max-width: 600px;
}

.image1,
.image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 200px;
  max-width: 600px;

  img {
    max-width: 90%;
    object-fit: contain;
    border-radius: 30px;
  }
}

section#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
  gap: 10px;

  .icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-width: 5px;
    min-height: 5px;
    gap: 20px;
    padding: 20px;

    p {
      display: flex;
      justify-content: center;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}

section#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0px 10px 0px;

  .grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    row-gap: 50px;
    padding: 10px 0px;
  }

  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    padding: 10px;
    max-width: 600px;
  }

  img {
    max-width: 300px;
    border-radius: 30px;
    aspect-ratio: 4-3;
    width: 70%;
  }

  .button {
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
  }

  .button:link,
  .button:visited {
    transition-property: color;
    transition-property: border;
    transition-duration: 0.5s;
  }

  .button:hover,
  .button:active {
    color: #00e2c1;
    border: 2px solid #00e2c1;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: black;
  width: 100%;
  padding: 5px 30px;

  p {
    color: white;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0px 10px;
  }

  svg {
    height: 30px;
    width: 30px;
  }

  svg path {
    fill: black; /* Initial color */
    transition: fill 0.3s; /* Smooth transition */
  }

  svg:hover path {
    fill: #00e2c1; /* Color on hover */
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    visibility: hidden;
    display: none;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .image1 {
    visibility: hidden;
    display: none;
  }

  section#about {
    flex-direction: column;
  }

  .grid-container {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 601px) {
  header {
    position: sticky;
    top: 0;
  }

  .grid-container {
    grid-template-columns: auto auto;
  }
}
